{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe List</title>
  <link rel="stylesheet" type="text/css" href="{% static 'recipes/styles/list.css' %}">

</head>

<body>
  <div class="navbar">
    <a href="javascript:history.back()">Back</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="{% url 'recipes:recipe_search' %}">Search</a>
    <a href="{% url 'recipes:recipes_list' %}">Recipes List</a>
    <a href="#">Subscribe</a>
    <a href="{% url 'logout' %}">Log Out</a>
    <!-- Add more links as needed -->
  </div>

  <div class="container1">
    <h1 class="h1">Recipes List</h1>
    <br>
    <br>

    <div class="recipe-list">
      {% for recipe in recipes %}
      <div class="recipe-item">
        <a href="{% url 'recipes:recipe_details' recipe.id %}">
          <img class="recipe-image" src="{{ recipe.pic.url }}" alt="{{ recipe.name }}">
          <div class="recipe-info">
            <h3>{{ recipe.name }}</h3>
            <p>{{ recipe.description }}</p>
          </div>
        </a>
      </div>

      {% endfor %}
    </div>
  </div>
</body>

</html>