/* General styles */
body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../images/kitchen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.h1 {
  color:#c5c0c0;
  font-weight: bold;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}


/* Container styles */
.container1 {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px 30px;
  text-align: center;
}

/* Recipe item styles */
.recipe-item {
  display: flex;
  background-color: rgba(149, 174, 202, 0.579); /* Transparent gray background */
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(244, 241, 241, 0.884); /* Add a glow effect */
  transition: transform 0.3s ease;
  list-style-type: none;
  align-items: center; /* Align items center */
  margin-bottom: 20px; /* Add margin to create space between items */
}

.recipe-item:hover {
  transform: translateY(-5px);
}

.recipe-item a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Recipe info styles */
.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  font-style: italic; /* Add italic font style */
}

.recipe-info h3 {
  text-align: center;
  margin: 0;
}

.recipe-info p {
  margin: 10px 0;
}

/* Recipe image styles */
.recipe-image {
  max-width: 220px; /* Adjust image size */
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
  border: 2px solid black;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .recipe-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  table, tr, th, td {
    display: block;
    width: 100%;
  }
}

/* Table styles */
table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 20px; /* Add margin to separate from previous content */
}

th, td {
  border: 1px solid #000;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Table title styles */
th[colspan="3"] {
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  background-color: #c5c0c0; /* Light gray background for title */
}

/* Table image styles */
td img {
  max-width: 450px;
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image */
  border: 3px solid black; /* Black border around the image */
  box-shadow: 0 0 10px black; /* Glow effect */
}
